/* Add a background color to the header element */
header {
    background-color: aquamarine;
    color:black;
    margin: 20px;
}
/* Add a fun background color to the main element */
main {
    background-color: cornflowerblue;
    margin: 20px;
    padding: 20px;
}
/* Align the h1 containing your name in the center of the header*/
h1 {
    text-align: center;
}
/* Make your p tag a different color and italic */
p {
    background-color: lavenderblush;
    color: black;
    font-style: italic;
}
/* Put a border around your image */
img {
    border: 5px dotted #000;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 300px;
}
.center {
    text-align: center;
}
/* Change the font-family of your list */
ul {
    font-family:'Lucida Sans', Verdana, sans-serif;
}
/* Add a background color to the footer element */
footer {
    background-color: aliceblue;
    margin: 20px;
}

.list {
    margin-left: 20px;
}